/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  background-image: linear-gradient(to right top, #f3eed9, #ebe0cd, #e3d1c2, #dac3b8, #cfb6af, #ceafab, #cda9a9, #caa2a8, #d1a0ae, #d59fb6, #d79ec1, #d69ece);
}

html{
  min-height: 100%
}
/******************************************
/* LAYOUT
/*******************************************/
.main-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 1rem;
}


form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: .5rem;
}

.formContainer {
  background-color: #FFE4E1;
  width: max-content;
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 4px;
  box-shadow: 3px 3px 0 9px black
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.bookCard{
  background-color: #fcf2c9b0;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 3px 3px 0 9px black
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  text-align: center;
  padding-bottom: 8px;
}

h1>span {
  color: azure;
  text-decoration: underline;
}


form button, .bookCard button{
  background-color: #EE7B7B;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 1rem;
}

form button svg {
  height: 2rem;
}

.bookCard button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  margin-bottom: .5rem;
}

.bookCard svg {
  height: 1.2rem;
}

.bookCard:hover {
  border-left: 8px solid #EE7B7B;
}

details {
  padding-bottom: 1rem;
}

.bookCard .read {
  background-color: #00B776;
  scale: 1.1;
}